<img src="assets/img/linha-left.svg" class="linha-left">
<img src="assets/img/linha-right.svg" class="linha-right">
<div class="background-item"></div>
<div class="molde-principal">
  <div class="bg">
    <header>
      <a href="" id="logo">Barbery</a>
      <nav id="menu">
        <ul>
          <li>
            <a href="#sobre">Sobre</a>
          </li>
          <li>
            <a href="#contato">Contato</a>
          </li>
          <li>
            <a data-modal="abrir" data-modal="toggle" (click)="toggleModal($event)">Agendar</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="intro">
      <div class="molde">
        <img src="assets/img/img-0.jpg" class="image0">
      </div>
      <button id="agendar-button" data-modal="toggle" (click)="toggleModal($event)">Agendar <img src="assets/img/seta.svg" alt="seta"></button>
    </section>

    <section id="sobre">
      <h1 class="titulo">Sobre</h1>
      <div class="container">
        <ul>
          <li>
            <p>Cabeleireiros qualificados rigorosa<br>mente</p>
          </li>
          <li>
            <p>Preços pensados no consumidor</p>
          </li>
          <li>
            <p>Chopp sem custo adicional</p>
          </li>
          <li>
            <button data-modal="toggle" (click)="toggleModal($event)">Entre em contato conosco <img src="assets/img/seta.svg" alt=""></button>
          </li>
        </ul>
        <div class="molde">
          <img src="assets/img/img-1.jpg">
        </div>
      </div>
    </section>

    <section id="contato">
      <h1 class="titulo">Contato</h1>
      <div class="container">
        <div class="molde">
          <img src="assets/img/img-2.jpg">
        </div>
        <div>
          <div class="email">
            <h2 class="subtitulo">Email</h2>
            <p>barbery@dominio.com</p>
          </div>
          <div class="endereco">
            <h2 class="subtitulo">Endereço</h2>
            <p class="rua">Rua botafogo / número 307</p>
            <p>Rio de Janeiro / Copacabana</p>
          </div>
          <div class="telefone">
            <h2 class="subtitulo">Telefone</h2>
            <p>+55 (21) 4062-2960</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>Este site teve seu design e código feitos inteiramente por:</p>
      <p class="copy">&copy;Renan Lucena - Alguns direitos reservados</p>
    </footer>

  </div>
</div>
<section id="modal-container" data-modal="container" #modalContainer (click)="toggleModal($event)">
  <div id="modal" data-modal="modal" #modal>
    <button class="fechar" data-modal="toggle">X</button>
    <h2 class="titulo-agendar">Agendar</h2>
    <div id="agendar-info">
      <div class="email">
        <h2 class="subtitulo">Email</h2>
        <p>barbery@dominio.com</p>
      </div>
      <div class="endereco">
        <h2 class="subtitulo">Endereço</h2>
        <p class="rua">Rua botafogo / número 307</p>
        <p>Rio de Janeiro / Copacabana</p>
      </div>
      <div class="telefone">
        <h2 class="subtitulo">Telefone</h2>
        <p>+55 (21) 4002-2004</p>
      </div>
    </div>
  </div>
</section>