#sobre {
  margin-bottom: 3.75rem;
}

#sobre .container {
  gap: 30px;
  justify-content: space-around;
  max-width: 662px;
}

#sobre img {
  border-radius: 5px;
}

#sobre ul {
  margin-top: 10px;
}

#sobre ul li p{
  max-width: 285px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFCF7;
}

#sobre ul li::after {
  content: "";
  display: block;
  height: 1px;
  width: 260px;
  background-color: #E3D0B8;
  margin: 25px 0;
  border-radius: 1px;
}

#sobre ul li:last-child:after {
  display: none;
}

#sobre button {
  background: none;
  display: flex;
  gap: 1rem;
  border: none;
  color: #FFFCF7;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 10px 0;
  align-items: center;
  line-height: 0;
  cursor: pointer; 
}

#sobre button:hover {
  text-decoration: underline;   
}

#sobre::after {
  content: "";
  display: block;
  background: url(../../../assets/img/linhas.svg) no-repeat center;
  background-size: cover;
  width: 4.62rem;
  height: 1.375rem;
  margin: 3.75rem auto 0 auto;
}